@import url(./header.css);
@import url(./services.css);
@import url(./payment.css);
@import url(./inicio.css);
@import url(./footer.css);
@import url(./responsive.css);

body {
    background-color: var(--light-purple);
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

/*VARIABLES*/
:root {
    --black: #000000;
    --purple: #5455EB;
    --light-purple: #6F6FFF;
    --dark-purple: #3433EB;
    --light-gray: #EBEBEB;
    --gray: #AFAFAF;
    --dark-gray: #3C3C3C;
    --primary-font:'Roboto', sans-serif;
}